md-whiteframe {
  background: #fff;
  background-color: lightgray;
  margin: 30px;
  height: 100px; 
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-input-container input:readonly {
  border-bottom: 0px;
}

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}

.graphannotation {
  margin-top: 40px;
  padding-left: 24px;
}

.graphannotation h4 {
  color: rgba(0, 0, 0, 0.541176);
  font-size: 14px;
  margin-bottom: 0px;
}

.graphannotation p {
  margin-top: 3px;
}

.speed {
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 28px;
  text-align: center;
}
.speedlabel {
  font-size: 18px;
  text-align: center;
}