<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>1312157</title>
    
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <html lang="en" ng-app="StarterApp">

<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css">
  <meta name="viewport" content="initial-scale=1" />
  
</head>

<body layout="column" ng-controller="AppCtrl" class="gridListdemoBasicUsage">
  <md-toolbar layout="row ">
    <div class="md-toolbar-tools ">

      <h1>Cao Xuân Hà</h1>
      <span flex></span>

    </div>
  </md-toolbar>
  <md-content layout-padding>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="About me">
        <md-content class="md-padding">
          <md-radio-group ng-model="data.group3">
           
            <div layout="row">
              <div>
                <md-subheader class="md-primary">Study University of Scient</md-subheader>
                <img src="http://www.upsieutoc.com/images/2016/04/25/ha2.jpg"width="500px" />
              </div>
              <div class="graphannotation">
                <h4>Major</h4>
                <p>Software developer</p>
                <h4>
Graduation year</h4>
                <p>2017</p>
                <h4>Telephone</h4>
                <p>0163.824.8298</p>
                <h4>Email Address</h4>
                <a href="mailto:joe@bloggs.com">xuanhavcdn@gmail.com</a>
                <h4>Facebook</h4>
                <a href="https://www.facebook.com/caoxuanha.1995">Cao Xuân Hà</a>
              </div>
            </div>
           <div layout="row">
              <div>
                <md-subheader class="md-primary">
My Hobbies</md-subheader>
                <img src="http://www.upsieutoc.com/images/2016/04/25/ha4.jpg " width="500px" />
              </div>
              <div class="graphannotation">
                <h4>Sport</h4>
                <p>Football- Badminton- Volleyball</p>
                <h4>
Travel</h4>
                <p>Japan - SinGaPore</p>
                <h4>Dream</h4>
                <p>Software manager</p>
                <h4>Future</h4>
                <p>Learning Web deverloper with php</p>
                <h4>Partime Job</h4>
                <p>Buy Technology Hardware</p>
              </div>
            </div>
        </md-content>
      </md-tab>
      <md-tab label="My Skill">
        <md-content class="md-padding">
          <img src="http://img.gawkerassets.com/img/19bg3lzexjac1jpg/ku-xlarge.jpg" width="300px" />
          <img src="http://www.pcworld.com.vn/files/articles/2014/1236648/angularjs-logo.png" width="300px"/>
          <img src="http://blogldc.s3.amazonaws.com/wp-content/uploads/2014/12/studio-hero.jpg" width="300px"/>
          <img src="http://nodeprogram.com/assets/images/enm.jpg" width="300px"/>
        </md-content>
      </md-tab>
      <md-tab label="Project">
        <div>
          <md-subheader class="md-primary">Caculator for Android</md-subheader>
          <img src="http://www.androidfreeware.net/img2/windows_phone_7_calculator_android_2.gif"/>
         </div>
        <div>
          <md-subheader class="md-primary">Web server with nodejs - mongodb - express</md-subheader>
          <img src="http://www.upsieutoc.com/images/2016/04/25/Untitled67de1.png"/>
         </div>
      </md-tab>
      <md-tab label="Social Activities">
        <md-content class="md-padding">
          <img src="http://www.upsieutoc.com/images/2016/04/25/ha5.jpg" width="500px" />
          <img src="http://www.upsieutoc.com/images/2016/04/25/ha6.jpg" width="500px" />
          <img src="http://www.upsieutoc.com/images/2016/04/25/ha7.jpg" width="500px" />
        </md-content>
      </md-tab>
      <md-tab label="
Contact me">
        <md-content class="md-padding">
     <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
						   <label for="contactSubject">Subject</label>
						   <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                  </div>
       </md-content>
      </md-tab>
    </md-tabs>
  </md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js "></script>
     <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js "></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    
        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
